<form action="/articles/:title" method="put">
  <label for="title">title</label>
  <br>
  <input type="text" id="title" name="title" value="{{title}}">
  <br>
  <br>
  <label for="author">author</label>
  <br>
  <input type="text" id="author" name="author" value="{{author}}">
  <br>
  <br>
  <label for="body">body</label>
  <br>
  <input type="text" id="body" name="body" value="{{body}}">
  <br>
  <br>
  <label for="urlTitle">urlTitle</label>
  <br>
  <input type="text" id="urlTitle" name="urlTitle" value="{{urlTitle}}">
  <br>
  <br>
  <input type="submit" value="Send">
</form>