<form action="/articles" method="post">
  <label for="title">title</label>
  <br>
  <input type="text" id="title" name="title" placeholder="title">
  <br>
  <br>
  <label for="author">author</label>
  <br>
  <input type="text" id="author" name="author" placeholder="author">
  <br>
  <br>
  <label for="body">body</label>
  <br>
  <input type="text" id="body" name="body" placeholder="body">
  <br>
  <br>
  <label for="urlTitle">urlTitle</label>
  <br>
  <input type="text" id="urlTitle" name="urlTitle" placeholder="urlTitle">
  <br>
  <br>
  <input type="submit" placeholder="New Article">
</form>